body{
    margin: 1%;
}
.nav{
    display: block;
    background-color: #ff0000af;
    text-align: center;
    color: white;
    padding: 15px;
    margin-bottom: 1%;
}
.cards{
    display: flex;
    justify-content: center;
}
.card{
    border-style: none;
    box-shadow: 3px 3px 3px black;
    margin: 1%;
    width: 25%;
}
.card-body{
    background-color: rgb(0, 119, 255);
    color: white;
}
#card-list{
    background-color: whitesmoke;
    padding: 13% 5% 13% 5%;
}
