body{
    margin: 1%;
}
.nav{
    display: block;
    background-color: #ff0000af;
    text-align: center;
    color: white;
    padding: 15px;
    margin-bottom: 1%;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.card{
    border-style: none;
    box-shadow: 3px 3px 3px black;
    margin-right: 20px;
    margin-top: 20px;
    width: 25%;
}
.card-body{
    background-color: rgb(0, 119, 255);
    color: white;
    margin : 0px;
}
#card-list{
    background-color: whitesmoke;
    padding: 13% 5% 13% 5%;
}

@media (max-width: 1000px){
    .card{
        width: 30%;
    }
}
@media (max-width: 800px){
    .card{
        width: 40%;
    }
}
@media (max-width: 700px){
    .card{
        width: 45%;
    }
    .card-title{
        font-size: 24px;
    }
    li{
        font-size: 16px;
    }
}
@media (max-width: 450px){
    .card{
        width: 100%;
    }
    li{
        font-size: 12px;
    }
}